matlab/codegen/mex/value_f/value_f_mex.mexa64
matlab/codegen/mex/value_f/html/report.mldatx
matlab/fmin_beres.m~
matlab/gradF_python.m~
tmp.txt
matlab/codegen/mex/gradF_python/_coder_gradF_python_api.o
matlab/codegen/mex/gradF_python/_coder_gradF_python_info.o
matlab/codegen/mex/gradF_python/_coder_gradF_python_mex.o
matlab/codegen/mex/gradF_python/buildInfo.mat
matlab/codegen/mex/gradF_python/c_mexapi_version.c
matlab/codegen/mex/gradF_python/c_mexapi_version.o
matlab/codegen/mex/gradF_python/cfiGuiReport.mat
matlab/codegen/mex/gradF_python/gcGuiReport.mat
matlab/codegen/mex/gradF_python/gradF_python_data.c
matlab/codegen/mex/gradF_python/gradF_python_data.h
matlab/codegen/mex/gradF_python/gradF_python_data.o
matlab/codegen/mex/gradF_python/gradF_python_initialize.c
matlab/codegen/mex/gradF_python/gradF_python_initialize.h
matlab/codegen/mex/gradF_python/gradF_python_initialize.o
matlab/codegen/mex/gradF_python/gradF_python_mex_mex.map
matlab/codegen/mex/gradF_python/gradF_python_mex.mexa64
matlab/codegen/mex/gradF_python/gradF_python_mex.mk
matlab/codegen/mex/gradF_python/gradF_python_mex.mki
matlab/codegen/mex/gradF_python/gradF_python_mex.sh
matlab/codegen/mex/gradF_python/gradF_python_terminate.c
matlab/codegen/mex/gradF_python/gradF_python_terminate.h
matlab/codegen/mex/gradF_python/gradF_python_terminate.o
matlab/codegen/mex/gradF_python/gradF_python_types.h
matlab/codegen/mex/gradF_python/gradF_python.c
matlab/codegen/mex/gradF_python/gradF_python.h
matlab/codegen/mex/gradF_python/gradF_python.o
matlab/codegen/mex/gradF_python/rt_nonfinite.h
matlab/codegen/mex/gradF_python/rtwtypes.h
matlab/codegen/mex/gradF_python/setEnv.sh
matlab/codegen/mex/gradF_python/sqrt.c
matlab/codegen/mex/gradF_python/sqrt.h
matlab/codegen/mex/gradF_python/sqrt.o
matlab/codegen/mex/gradF_python/html/report.mldatx
matlab/codegen/mex/gradF_python/interface/_coder_gradF_python_api.c
matlab/codegen/mex/gradF_python/interface/_coder_gradF_python_api.h
matlab/codegen/mex/gradF_python/interface/_coder_gradF_python_info.c
matlab/codegen/mex/gradF_python/interface/_coder_gradF_python_info.h
matlab/codegen/mex/gradF_python/interface/_coder_gradF_python_mex.c
matlab/codegen/mex/gradF_python/interface/_coder_gradF_python_mex.h
matlab/codegen/mex/hessF_python/_coder_hessF_python_api.o
matlab/codegen/mex/hessF_python/_coder_hessF_python_info.o
matlab/codegen/mex/hessF_python/_coder_hessF_python_mex.o
matlab/codegen/mex/hessF_python/buildInfo.mat
matlab/codegen/mex/hessF_python/c_mexapi_version.c
matlab/codegen/mex/hessF_python/c_mexapi_version.o
matlab/codegen/mex/hessF_python/cfiGuiReport.mat
matlab/codegen/mex/hessF_python/error.c
matlab/codegen/mex/hessF_python/error.h
matlab/codegen/mex/hessF_python/error.o
matlab/codegen/mex/hessF_python/gcGuiReport.mat
matlab/codegen/mex/hessF_python/hessF_python_data.c
matlab/codegen/mex/hessF_python/hessF_python_data.h
matlab/codegen/mex/hessF_python/hessF_python_data.o
matlab/codegen/mex/hessF_python/hessF_python_initialize.c
matlab/codegen/mex/hessF_python/hessF_python_initialize.h
matlab/codegen/mex/hessF_python/hessF_python_initialize.o
matlab/codegen/mex/hessF_python/hessF_python_mex_mex.map
matlab/codegen/mex/hessF_python/hessF_python_mex.mexa64
matlab/codegen/mex/hessF_python/hessF_python_mex.mk
matlab/codegen/mex/hessF_python/hessF_python_mex.mki
matlab/codegen/mex/hessF_python/hessF_python_mex.sh
matlab/codegen/mex/hessF_python/hessF_python_terminate.c
matlab/codegen/mex/hessF_python/hessF_python_terminate.h
matlab/codegen/mex/hessF_python/hessF_python_terminate.o
matlab/codegen/mex/hessF_python/hessF_python_types.h
matlab/codegen/mex/hessF_python/hessF_python.c
matlab/codegen/mex/hessF_python/hessF_python.h
matlab/codegen/mex/hessF_python/hessF_python.o
matlab/codegen/mex/hessF_python/rt_nonfinite.h
matlab/codegen/mex/hessF_python/rtwtypes.h
matlab/codegen/mex/hessF_python/setEnv.sh
matlab/codegen/mex/hessF_python/sqrt.c
matlab/codegen/mex/hessF_python/sqrt.h
matlab/codegen/mex/hessF_python/sqrt.o
matlab/codegen/mex/hessF_python/html/report.mldatx
matlab/codegen/mex/hessF_python/interface/_coder_hessF_python_api.c
matlab/codegen/mex/hessF_python/interface/_coder_hessF_python_api.h
matlab/codegen/mex/hessF_python/interface/_coder_hessF_python_info.c
matlab/codegen/mex/hessF_python/interface/_coder_hessF_python_info.h
matlab/codegen/mex/hessF_python/interface/_coder_hessF_python_mex.c
matlab/codegen/mex/hessF_python/interface/_coder_hessF_python_mex.h
matlab/codegen/mex/valueF_python/_coder_valueF_python_api.o
matlab/codegen/mex/valueF_python/_coder_valueF_python_info.o
matlab/codegen/mex/valueF_python/_coder_valueF_python_mex.o
matlab/codegen/mex/valueF_python/buildInfo.mat
matlab/codegen/mex/valueF_python/c_mexapi_version.c
matlab/codegen/mex/valueF_python/c_mexapi_version.o
matlab/codegen/mex/valueF_python/cfiGuiReport.mat
matlab/codegen/mex/valueF_python/gcGuiReport.mat
matlab/codegen/mex/valueF_python/rt_nonfinite.h
matlab/codegen/mex/valueF_python/rtwtypes.h
matlab/codegen/mex/valueF_python/setEnv.sh
matlab/codegen/mex/valueF_python/valueF_python_data.c
matlab/codegen/mex/valueF_python/valueF_python_data.h
matlab/codegen/mex/valueF_python/valueF_python_data.o
matlab/codegen/mex/valueF_python/valueF_python_initialize.c
matlab/codegen/mex/valueF_python/valueF_python_initialize.h
matlab/codegen/mex/valueF_python/valueF_python_initialize.o
matlab/codegen/mex/valueF_python/valueF_python_mex_mex.map
matlab/codegen/mex/valueF_python/valueF_python_mex.mexa64
matlab/codegen/mex/valueF_python/valueF_python_mex.mk
matlab/codegen/mex/valueF_python/valueF_python_mex.mki
matlab/codegen/mex/valueF_python/valueF_python_mex.sh
matlab/codegen/mex/valueF_python/valueF_python_terminate.c
matlab/codegen/mex/valueF_python/valueF_python_terminate.h
matlab/codegen/mex/valueF_python/valueF_python_terminate.o
matlab/codegen/mex/valueF_python/valueF_python_types.h
matlab/codegen/mex/valueF_python/valueF_python.c
matlab/codegen/mex/valueF_python/valueF_python.h
matlab/codegen/mex/valueF_python/valueF_python.o
matlab/codegen/mex/valueF_python/html/report.mldatx
matlab/codegen/mex/valueF_python/interface/_coder_valueF_python_api.c
matlab/codegen/mex/valueF_python/interface/_coder_valueF_python_api.h
matlab/codegen/mex/valueF_python/interface/_coder_valueF_python_info.c
matlab/codegen/mex/valueF_python/interface/_coder_valueF_python_info.h
matlab/codegen/mex/valueF_python/interface/_coder_valueF_python_mex.c
matlab/codegen/mex/valueF_python/interface/_coder_valueF_python_mex.h
matlab/codegen/valueF_python/fixpt/guiFpReport.mat
matlab/codegen/valueF_python/fixpt/IncrementalConversion.mat
matlab/codegen/valueF_python/fixpt/valueF_python_float_mex.mexa64
matlab/codegen/valueF_python/fixpt/cache_dir/valueF_python_float_mex_codegenCache.mat
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/_coder_valueF_python_float_mex_api.o
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/_coder_valueF_python_float_mex_info.o
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/_coder_valueF_python_float_mex_mex.o
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/assertValidSizeArg.c
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/assertValidSizeArg.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/assertValidSizeArg.o
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/buildInfo.mat
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/c_mexapi_version.c
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/c_mexapi_version.o
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/custom_mex_logger.c
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/custom_mex_logger.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/custom_mex_logger.o
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/customFetchLoggedData.c
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/customFetchLoggedData.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/customFetchLoggedData.o
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/error.c
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/error.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/error.o
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/forcePushIntoCloud.c
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/forcePushIntoCloud.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/forcePushIntoCloud.o
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/logStmts.c
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/logStmts.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/logStmts.o
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/rt_nonfinite.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/rtwtypes.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/setEnv.sh
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/sqrt.c
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/sqrt.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/sqrt.o
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_data.c
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_data.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_data.o
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_emxutil.c
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_emxutil.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_emxutil.o
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_initialize.c
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_initialize.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_initialize.o
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_mex.map
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_mex.mk
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_mex.mki
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_mex.sh
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_mexutil.c
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_mexutil.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_mexutil.o
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_terminate.c
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_terminate.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_terminate.o
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex_types.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python_float_mex.mexa64
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python.c
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/valueF_python.o
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/interface/_coder_valueF_python_float_mex_api.c
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/interface/_coder_valueF_python_float_mex_api.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/interface/_coder_valueF_python_float_mex_info.c
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/interface/_coder_valueF_python_float_mex_info.h
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/interface/_coder_valueF_python_float_mex_mex.c
matlab/codegen/valueF_python/fixpt/fxptmp/valueF_python/interface/_coder_valueF_python_float_mex_mex.h
Michal_DE/fmin_DENewton.asv
Michal_DE/fmin_DEvecNewton.asv
Michal_DE/__pycache__/minimizers.cpython-311.pyc
Michal_DE/__pycache__/value_F.cpython-311.pyc
Michal_DE/__pycache__/valueF2.cpython-311.pyc
Michal_DE/__pycache__/minimizers.cpython-311.pyc
Michal_DE/__pycache__/value_F.cpython-311.pyc
Michal_DE/__pycache__/valueF2.cpython-311.pyc
Michal_DE/DE_test.asv
Michal_DE/fmin_DE.asv
Michal_DE/fmin_DEvec.asv
Michal_DE/test_minimization.asv
